USE [NurPimz]
GO
/****** Object:  Table [dbo].[INV_Brands]    Script Date: 3/22/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_Brands](
	[ID] [nvarchar](50) NULL,
	[Brand] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INV_SubCategories]    Script Date: 3/22/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_SubCategories](
	[ID] [nvarchar](50) NULL,
	[SubCategory] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INV_Unit_Types]    Script Date: 3/22/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_Unit_Types](
	[ID] [nvarchar](50) NULL,
	[Unit_Type] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOT_Activate_Books]    Script Date: 3/22/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOT_Activate_Books](
	[Game_ID] [nvarchar](50) NULL,
	[Book_No] [nvarchar](50) NULL,
	[Book_Created] [datetime] NULL,
	[Book_Tickets] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[ItemNum] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOT_Activated_Book_History]    Script Date: 3/22/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOT_Activated_Book_History](
	[Game_ID] [nvarchar](50) NULL,
	[Book_No] [nvarchar](50) NULL,
	[Book_Created] [datetime] NULL,
	[Book_Tickets] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[ItemNum] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOT_Games_Details]    Script Date: 3/22/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOT_Games_Details](
	[Game_ID] [nvarchar](50) NULL,
	[Open_Book] [nvarchar](50) NULL,
	[Close_Book] [nvarchar](50) NULL,
	[Stock_Level_Open] [int] NULL,
	[Stock_Level_Close] [int] NULL,
	[Shift_Open_Serial] [nvarchar](50) NULL,
	[Shift_Close_Serial] [nvarchar](50) NULL,
	[Missing_Ticket] [int] NULL,
	[Location] [nvarchar](50) NULL,
	[Shift_ID] [nvarchar](50) NULL,
	[Date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOT_Permission]    Script Date: 3/22/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOT_Permission](
	[Emp_ID] [nvarchar](50) NULL,
	[Emp_Name] [nvarchar](50) NULL,
	[StartOrEndShift] [bit] NULL,
	[ActivateBook] [bit] NULL,
	[CreateNewGame] [bit] NULL,
	[OrganizeSlot] [bit] NULL,
	[ViewShift] [bit] NULL,
	[ResetShift] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOT_Reason_Code]    Script Date: 3/22/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOT_Reason_Code](
	[Store_ID] [nvarchar](50) NULL,
	[Reason_Code] [nvarchar](50) NULL,
	[Reason_Type] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOT_Shift_Details]    Script Date: 3/22/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOT_Shift_Details](
	[Shift_ID] [nvarchar](50) NULL,
	[Shift_Cashier_ID] [nvarchar](50) NULL,
	[Shift_Start_Time] [datetime] NULL,
	[Shift_End_Time] [datetime] NULL,
	[Shift_Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 3/22/2025 2:23:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Report_ID] [nvarchar](50) NULL,
	[Cashier_ID] [nvarchar](50) NULL,
	[ItemNum] [nvarchar](50) NULL,
	[Book_No] [nvarchar](50) NULL,
	[Serial_No] [nvarchar](50) NULL,
	[Missing_Ticket] [int] NULL,
	[Date] [datetime] NULL,
	[Reason] [nvarchar](150) NULL,
	[Close_Stock] [nvarchar](50) NULL,
	[Shift_ID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
